<mat-selection-list #shoes>
  <ng-container *ngFor="let tarea of tareas">
    <mat-list-option
      [value]="tarea.id"
      [selected]="tarea.hecho"
      (click)="seleccionar(tarea)"
    >
      {{ tarea.descripcion }}
    </mat-list-option>
    <button
      mat-raised-button
      [routerLink]="['/todo', tarea.id]"
      color="primary"
    >
      Actualizar
    </button>
    <button mat-raised-button color="warn" (click)="eliminarTarea(tarea.id)">
      Eliminar
    </button>
  </ng-container>
</mat-selection-list>

<p>Options selected: {{ tareasCompletadas }}</p>
